node_modules/
.next/
*.tsbuildinfo
build/
dist/
*.log
.DS_Store
.env.local
.env.*.local
*.pid
*.seed
.cache/
.parcel-cache
.vuepress/dist
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.cache/
.vlt/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
coverage/
.eslintcache
